.container {
  margin-top: 15px;
  max-width: 600px;
  background-color: #637d96;
  border: 1px solid #2b3a44;
  border-radius: 17px;
  align-items: center;
  box-shadow: 3px 3px 3px #606060;
}

.DisplayRow {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header {
  width: 100%;
  color: #d2aa6d;
  text-shadow: 0 0 1px #59191f;
  display: flex;
  flex-flow: row nowrap;
}

.label {
  width: 43%;
  color: gainsboro;
}

.name {
  width: 93%;
}

.logo {
  width: 7%;
}

.BoxContent {
  width: 25%;
  background-color: gainsboro;
  border: 1px solid #2b3a44;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #606060;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.risingIcon {
  width: 35%;
  height: 35%;
}

.fallingIcon {
  width: 35%;
  height: 35%;
}

.stableIcon {
  width: 25%;
  height: 25%;
}

.controls {
  width: 16%;
}

.button {
  width: 80px;
  height: 25px;
  background-color: gainsboro;
  border: 1px solid #2b3a44;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #606060;
}

.button:hover {
  background-color: #c3c3c3;
  transition-duration: 0.4s;
}

.button:active {
  background-color: #637d96;
}

