.container {
  margin-top: 15px;
  max-width: 500px;
  background-color: #637d96;
  border: 1px solid #2b3a44;
  border-radius: 17px;
  align-items: center;
  box-shadow: 3px 3px 3px #606060;
}

.DisplayRow {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header {
  width: 100%;
  color: #d2aa6d;
  text-shadow: 0 0 1px #59191f;
  display: flex;
  flex-flow: row nowrap;
}

.label {
  width: 50%;
  color: gainsboro;
}

.name {
  width: 93%;
}

.logo {
  width: 7%;
}

.BoxContent {
  width: 30%;
  background-color: gainsboro;
  border: 1px solid #2b3a44;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #606060;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


img.arrow {
  width: 12%;
  height: 12%;
}

.controls {
  width: 20%;
}
