.container {
  color: gainsboro;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 600px;
  background-color: #637d96;
  border: 1px solid #2b3a44;
  border-radius: 17px;
  align-items: center;
  box-shadow: 3px 3px 3px #606060;
}

.DisplayRow {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header {
  width: 100%;
  color: #d2aa6d;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.label {
  text-align: right;
  padding-right: 10px;
  width: 43%;
  color: gainsboro;
}

.name {
  align-self: center;
  text-shadow: 2px 2px 2px black;
}

.headings {
  align-self: center;
  text-shadow: 2px 2px 2px black;
  color: gainsboro;
}

.logo {
  margin-left: 4px;
  width: 8%;
  align-self: center;
}

.BoxContent {
  color: black;
  width: 25%;
  background-color: gainsboro;
  border: 1px solid #2b3a44;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #606060;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.risingIcon {
  width: 35%;
  height: 35%;
}

.fallingIcon {
  width: 35%;
  height: 35%;
}

.stableIcon {
  width: 25%;
  height: 25%;
}

.--Icon {
  width: 18%;
  height: 18%;
}

.controls {
  width: 16%;
}

.button {
  width: 80px;
  height: 25px;
  background-color: gainsboro;
  border: 1px solid #2b3a44;
  border-radius: 4px;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}

.buttonTableSort {
  font-size: 11px;
  font-weight: bold;
  background-color: #455768;
  border: none;
  color: gainsboro;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: #c3c3c3;
  transition-duration: 0.4s;
}

.button:active {
  background-color: #637d96;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.history {
  margin-top: 25px;
}

table {
  font-size: 11px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 1px solid #455768;
  text-align: left;
  padding: 8px;
  width: 33%
}


tr:nth-child(even) {
  background-color: #597087;
}
